/* Collegamento a font locali */
@font-face {
    font-family: 'NeutralSans-Regular';
    src: url('../fonts/NeutralSans-Regular.otf') format('opentype');
    font-weight: 400;
}

@font-face {
    font-family: 'NeutralSans-Medium';
    src: url('../fonts/NeutralSans-Meidum.otf') format('opentype');
    font-weight: 500;
}

@font-face {
    font-family: 'NeutralSans-Bold';
    src: url('../fonts/NeutralSans-Bold') format('opentype');
    font-weight: 700;
}

body {
    font-family: 'Neutral Sans Regular', sans-serif;
    font-size: 12px;
}

body {
    margin: 0;
    padding: 0;
}

/* Titoli con un altro font */
h1, h2, h3 {
    font-family: 'Neutral Sans Bold', serif;
    font-size: 40px;
}